body
{

    background: #1e1f24;
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10;
    padding: 10;
}

#cabezera {
    background: #37488b ;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,00.5);
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

    #cabezera #logo{
        width: 20px;
        vertical-align: middle;
    }

#cabezera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;

}

#post{
    
    background-attachment: fixed;
    padding: 1em;
}
